body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/*MOBILE*/
@media (max-width: 768px) {
    
}
/*DESKTOP*/
@media (min-width: 769px) {
    /*TOOLBAR*/
    header {
        display: flex;
        background-color: #000B45;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    /*CAJA img h2*/
    header .logo-nombre {
        display: flex;
        align-items: center;
        font-size: 17px;
    }
    /*imagen_logo*/
    header .logo-nombre img {
        height: 50px;
        justify-content: center;
        padding: 10px;
    }
    /*titulo_logo*/
    header .logo-nombre h2 {
        color: #FFFFFF;
    }
    /*a inicio caracteristicas precios reseñas*/
    header .listado .nav-a {
        text-decoration: none;
        color: #FFFFFF;
        padding: 8px;
        font-size: 20px;
    }
    /*Cuando el cursor este sobre los a nav-a*/
    header .listado .nav-a:hover {
        text-decoration: underline;
        color: #FFF000;
    }
    /*a boton*/
    .boton {
        text-decoration: none;
        margin: 10px;
        padding: 10px;
        background: #FFF000;
        border: 1px solid #000B45;
        color: #000B45;
        border-radius: 15px;
        font-size: 20px;
        border-radius: 15px;
    }
    /*Cuando el cursor este sobre los a boton*/
    .boton:hover {
        background-color: #D5CF00;
    }
    /*#inicio*/
    .cuerpo-pagina {
        margin: 0;
        padding: 0;
        background-color: #e7e9ff;
    }
    #inicio {
        display: flex;
        justify-content: space-between;
        padding: 25px;
        margin-bottom: 450px;
    }
    #inicio .clase-inicio {
        margin: 25px;
        width: 800px;
    }
    /*titulo-inicio*/
    #inicio .clase-inicio h2 {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 50px;
    }
    /*parrafo-inicio*/
    #inicio .clase-inicio p {
        font-size: 22.5px;
        text-align: justify;
        margin-bottom: 35px;
    }
    /*input email*/
    #inicio .clase-inicio input[type="email"] {
        width: 65%;
        padding: 10px 10px;
        border: none;
        outline: none;
        border-bottom: 1px solid #000000;
        color: #000000;
        font-size: 16px;
    }
    /*#caracteristicas*/
    #caracteristicas {
        text-align: center;
        justify-content: center;
    }
    .titulo {
        padding-top: 25px;
    }
    .titulo h3 {
        font-size: 30px;
    }
    .titulo h2 {
        font-size: 45px;
        margin-bottom: 140px;
    }
    .div-cartas {
        display: flex;
        justify-content: center;
        padding: 30px;
        margin-bottom: 100px;
    }
    .carta {
        width: 60%;
        height: 70%;
        margin-left: 40px;
        margin-right: 40px;
        padding-left: 20px;
        padding-right: 20px;
        background: #FFFFFF;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .carta h3 {
        font-size: 30px;
    }
    .carta p {
        text-align: justify;
        font-size: 20px;
    }
    /*Procesos*/
    #proceso {
        text-align: center;
        justify-content: center;
        padding: 25px;
        margin-bottom: 450px;
    }
    /*Precios*/
    #precios {
        text-align: center;
        justify-content: center;
        padding: 25px;
        padding-bottom: 450px;
    }
    #precios .titulo h2 {
        font-size: 45px;
        margin-bottom: 40px;
    }
    #precios .div-cartas .carta-2 {
        height: 250px;
    }
    #precios .div-cartas .carta-3 {
        height: 287px;
    }
    /*Footer*/
    .treefy-copyright {
        padding: 30px;
        text-align: center;
        background-color: #000000;
    }
    .treefy-copyright footer p {
        color: #FFFFFF;
    }
}